@use "../abstracts";

.auth {
    display: flex;
    min-height: 100dvh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        background: var(--auth-intro-bg);

        &-img {
            width: min(424px, 100%);
        }

        &-text {
            color: var(--auth-intro-text-color);
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__content {
        background: var(--auth-content-bg);

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            width: min(460px, 100%);
            padding: 50px 0;
            margin: 0 auto;
        }
    }

    &__heading {
        color: var(--auth-content-heading);
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        color: var(--auth-desc-color);
        padding: 0 20px;
        margin-top: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__message {
        margin-top: 30px;
    }

    &__form {
        width: 100%;
        margin-top: 30px;

        &-forgot {
            margin-top: 10px;
        }
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    &__btn {
        width: 100%;
    }

    &__text {
        color: var(--auth-desc-color);
        margin-top: 100px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        &-link {
            font-size: inherit;
        }
    }

    @include abstracts.screen(md) {
        &__intro {
            position: relative;

            &-logo,
            &-next {
                position: absolute;
                left: 50%;
                translate: -50%;
            }

            &-logo {
                top: 80px;
            }

            &-next {
                bottom: 50px;
            }

            &-text {
                font-size: 1.5rem;
            }
        }

        &__content {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }

            &.show {
                translate: 0;
            }

            &-inner {
                padding: 25px 0;
            }
        }

        &__heading {
            margin-top: 40px;
            font-size: 2.2rem;
        }

        &__desc {
            font-size: 1.4rem;
        }

        &__form {
            margin-top: 0;
        }

        &__link {
            font-size: 1.3rem;
        }

        &__text {
            font-size: 1.6rem;
            margin-top: 40px;

            &-link {
                font-size: inherit;
            }
        }

        &__btn-group {
            margin-top: 40px;
            gap: 20px;
        }
    }
}
