@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(0%) hue-rotate(203deg) brightness(106%) contrast(105%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-seperate: #ededf6;

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3237;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(8%)
        saturate(792%) hue-rotate(179deg) brightness(94%) contrast(84%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(94%) sepia(1%)
        saturate(684%) hue-rotate(80deg) brightness(107%) contrast(98%);
}
