@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(0%) hue-rotate(203deg) brightness(106%) contrast(105%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-seperate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Header
    --header-act-dropdown-bg: #2f3237;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-border-color: #171c28;
    --header-act-cart-item-border: #080a0c;

    // Dropdown
    --dropdown-bg-color: #2f3237;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(8%)
        saturate(792%) hue-rotate(179deg) brightness(94%) contrast(84%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(94%) sepia(1%)
        saturate(684%) hue-rotate(80deg) brightness(107%) contrast(98%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #ffffff;
    --cate-item-desc-color: #ffffff;

    // Product list
    --filter-btn-color: #fff;
    --filter-bg-color: #171c28;

    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-form-bg: #2f3237;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(14%) sepia(8%)
        saturate(792%) hue-rotate(179deg) brightness(94%) contrast(84%);

    // Auth
    --auth-intro-bg: #171c28;
    --auth-content-bg: #292e39;

    --auth-intro-text-color: #b9babe;

    --auth-content-heading: #b9babe;
    --auth-desc-color: #9e9da8;
    --auth-link-color: #0071dc;

    // Forms
    --form-placeholder-color: #b9babe;
    --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.15);
    --form-select-dialog-bg: #2f3237;
    --form-option-hover-bg: #292e39;

    // Product detail page
    --product-detail-bg: #292e39;
    --product-info-bg: #171c28;
    --product-info-content: transparent;
    --product-info-tag: #292e39;

    @include abstracts.screen(md) {
        --product-detail-bg: #292e39;
        --product-info-content: #171c28;
        --product-info-bg: transparent;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    // Search bar
    --search-bar-bg: #171c28;

    // Review card
    --review-card-bg: #171c28;

    // Review card
    --review-card-bg: #171c28;

    // Text content
    --text-content-hr-bg: #3e4043;

    // Checkout
    --checkout-breadcrumbs-bg: #171c28;
    --checkout-cart-info-bg: #171c28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #292e39;
    --checkout-gift-shadow: rgba(23, 28, 40, 0.2);
    --checkout-payment-item-bg: #292e39;

    // Dialog
    --dialog-bg: #2f3237;
    --dialog-shadow: rgba(23, 28, 40, 0.4);
}
