@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(0%) hue-rotate(203deg) brightness(106%) contrast(105%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-seperate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3237;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(8%)
        saturate(792%) hue-rotate(179deg) brightness(94%) contrast(84%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(94%) sepia(1%)
        saturate(684%) hue-rotate(80deg) brightness(107%) contrast(98%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #ffffff;
    --cate-item-desc-color: #ffffff;

    // Product list
    --filter-btn-color: #fff;
    --filter-bg-color: #171c28;

    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-form-bg: #2f3237;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-form-tag-bg: #171c28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(14%) sepia(8%)
        saturate(792%) hue-rotate(179deg) brightness(94%) contrast(84%);
}
