@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.screen(md) {
        box-shadow: var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    z-index: 1;
    padding: 30px 0;

    @include abstracts.screen(lg) {
        padding: 20px 0;

        &__logo {
            column-gap: 10px !important;
            margin-left: 40px;

            &-title {
                font-size: 1.8rem;
            }

            &-img {
                display: block;
                width: 24px;
            }
        }
    }

    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: 16px 0;

        &__logo {
            margin-left: 0;
        }
    }
}

// -- NAVIGATION -- //
.navbar {
    margin-left: 129px;

    &__list {
        @extend %flexItemsCenter;
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 15px;
        font-weight: 500;
        line-height: 1.46;
    }

    &__arrow {
        margin-top: 3px;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
    }

    @include abstracts.screen(xl) {
        margin-left: 28px;
    }
}

@include abstracts.screen(lg) {
    .navbar {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 4;

        padding: 20px 0;
        margin-left: 0;
        border-radius: 0 20px 20px 0;
        background: var(--sidebar-bg);

        translate: -100%;
        transition: translate 0.5s ease;

        &.show {
            translate: 0;
            box-shadow: 0 40px 90px 20px var(--sidebar-shadow-color);
        }

        &.show + &__overlay {
            visibility: visible;
            opacity: 1;
        }

        &__close-btn {
            padding: 10px 40px;
        }

        &__overlay {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            inset: 0;
            z-index: 3;

            transition: opacity, visibility;
            transition-duration: 0.5 ease;

            background: rgba($color: #000000, $alpha: 0.4);
        }

        &__list {
            flex-direction: column;
            align-items: start;
            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }

        &__item {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }

        &__link {
            justify-content: space-between;
            padding: 0 40px;

            font-size: 1.6rem;
            line-height: 1.5;
        }

        &__arrow {
            rotate: -90deg;
            transition: rotate 0.3s ease;
        }

        &__item--active &__arrow {
            rotate: 0deg;
        }
    }
}

@include abstracts.screen(md) {
    .navbar {
        &__list {
            height: calc(100% - 140px);
        }
    }
}

@include abstracts.screen(sm) {
    .navbar {
        inset: 0 20% 0 0;

        &__close-btn {
            padding: 0 20px 10px;
        }

        &__link {
            height: 44px;
            padding: 0 20px;
        }
    }
}
//////////////////////////////////////////////////
.top-act {
    @extend %flexItemsCenter;
    column-gap: 20px;
    margin-left: auto;

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn-wrap {
        position: relative;

        &:hover .act-dropdown {
            opacity: 1;
            visibility: visible;
        }
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 13px 20px;
        column-gap: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.46;
    }

    &__seperate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-seperate);
    }
    & &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        display: block;
    }

    @include abstracts.screen(md) {
        margin-left: 0;

        &__sign-up {
            height: 40px !important;
            padding: 0 8px !important;
            font-size: 1.5rem !important;
        }
    }
}

.nav-btn {
    height: 50px;
    align-items: center;
    padding: 0 40px;

    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }

    &__title {
        margin-left: 16px;
    }

    &__qnt {
        margin-left: auto;
    }

    @include abstracts.screen(sm) {
        padding: 0 20px;
    }
}

.act-dropdown {
    position: absolute;
    top: 48px;
    right: -60px;
    width: min(500px, 100vw);
    padding-top: 28px;

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.2s;

    &__inner {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background: var(--header-act-dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
    }

    &__arrow {
        position: absolute;
        top: -18px;
        right: 90px;
        height: 20.5px;

        filter: var(--dropdown-arrow-color);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__view-all {
        color: #0071dc;
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__bottom {
        margin: 20px 0;
        padding: 20px 0;
        border-width: 1.5px 0;
        border-color: var(--header-act-dropdown-border-color);
        border-style: solid;
    }

    &__seperate {
        margin: 20px 0;
        height: 1px;
        background-color: var(--header-act-dropdown-border-color);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--bold {
            font-weight: 500;
        }
    }

    &__list {
        padding-bottom: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    &__row + &__row {
        margin-top: 10px;
    }

    &__label,
    &__value {
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;

        &-btn {
            min-width: 278px;
        }
    }
}

.cart-preview-item {
    text-align: left;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1.5px solid var(--header-act-cart-item-border);
        border-radius: 10px;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin-top: 14px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }

    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}
