@use "../abstracts";

.cate-item {
    display: flex;
    gap: 20px;

    height: 100%;
    padding: 20px 26px 20px 20px;
    border-radius: 16px;
    background: var(--cate-item-bg);

    &__thumb {
        display: block;
        width: 116px;
        height: 116px;
        object-fit: contain;
        background: var(--cate-item-thumb-bg);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
    }

    &__title {
        color: var(--cate-item-title-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 144.455%;
    }

    &__description {
        margin-top: 6px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
    }

    @include abstracts.screen(xl) {
        flex-direction: column;

        &__thumb {
            width: 100%;
            height: 150px;
            margin: 0 auto;
        }
    }

    @include abstracts.screen(xxl) {
        &__info {
            padding-right: 0;
        }
    }

    @include abstracts.screen(md) {
        flex-direction: row;

        &__thumb {
            width: 88px;
            height: 88px;
            margin: 0px;
        }
    }

    @include abstracts.screen(sm) {
        &__title {
            font-size: 1.8rem;
            line-height: 144.444%;
        }

        &__description {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}
