@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;

    border-radius: 20px;
    padding: 30px 0;
    background: var(--filter-form-bg);
    filter: drop-shadow(0 40px 90px var(--filter-form-shadow));
    transition: opacity, visibility;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__arrow {
        position: absolute;
        top: -10px;
        right: 30px;
        height: 20.5px;
        filter: var(--filter-form-arrow);
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;

            &--small {
                margin-bottom: 10px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 142.857%;
            }
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 30px;
            }
        }

        &-slider {
            position: relative;

            width: 100%;
            height: 2px;
            background: #d2d1d6;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #ffb700;

                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            display: flex;
            align-items: center;

            width: 334px;
            height: 44px;
            padding: 0 16px;

            overflow: hidden;

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
        }

        &-input {
            width: 100%;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 142.857%;

            &::placeholder {
                font-weight: 400;
                color: #9e9da8;
            }
        }

        &-input-icon {
            margin-left: 12px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 14px;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            cursor: pointer;
        }

        &-select + &-select {
            border-left: 1px solid #d2d1d6;
        }

        &-select-arrow {
            width: 14px;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            color: #9e9da8;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            padding: 6px 12px;
            border-radius: 6px;
            background: var(--filter-form-tag-bg);
            transition: color 0.2s ease;

            &:hover {
                color: var(--text-color);
            }
        }
    }

    &__row {
        display: flex;
    }

    &__seperate {
        width: 1px;
        background: #eee;
        margin: 0 30px;
    }

    &__footer {
        display: flex;
        justify-content: end;
        margin-top: 32px;
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }

    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }

    &__content {
        max-height: calc(100vh - 350px);
        overflow-y: auto;
    }

    @include abstracts.screen(xl) {
        overscroll-behavior: contain;

        &__form {
            &-select {
                flex: 1;
            }

            &-text-input--small {
                width: 100%;
            }
        }

        &__seperate {
            width: 100%;
            height: 1px;
            margin: 30px 0;
        }

        &__content {
            flex-direction: column;
        }
    }

    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;

        &__form {
            &-text-input {
                width: 100%;
            }

            &-input {
                font-size: 1.6rem !important;
            }

            &-tags {
                gap: 9px;
            }
        }

        &__cancel,
        &__submit {
            flex: 1;
            height: 42px;
        }

        &__content {
            max-height: calc(100vh - 200px);
            padding-bottom: 60px;
        }

        &__footer {
            position: sticky;
            bottom: 0;
            background: var(--filter-form-bg);
        }
    }
}
