*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    background-color: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

a,
button,
input,
textarea,
input {
    font-family: inherit;
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}
